#AboutMe{

    p{
        line-height: 1.6;
        min-width: 20rem;
        max-width: 25rem;
    }
    .text-container{
    }
}

.s2-img{
    object-fit: cover;
    border: 1px solid #909090;
    border-radius: 1rem;
    min-width: 20rem;
}

@media only screen and (max-width: 767px){
    .s2-img{ 
        max-width: 25rem;
    }
}
