#Skills{
    p{

    }
}
.s4-icon{
    width: 70%; 
}

.s4-icon-container{
}

.skill-section{
    height: auto;
}

@media only screen and (max-width: 767px){
    .s4-icon{ 
        width: 50%;
    }
}
