@import "../../styles/variables";

#MyProjects{
    background-color: $dark-prim-color;
    .s4-projects-row{
        width: 75%;
    }
}
.ProjectCard{
    background-size: contain;
    background-repeat: no-repeat;
    h3{ 
        font-size: 1.5vw;
        user-select: none;
    }
    button{
        padding: 0.5rem;
        background-color: transparent;
        border: 1px solid white;
        color: $text-color;
        transition: 0.5s;
        user-select: none;
        &:hover{
            background-color: rgba(255, 255, 255, 0.9);
            color: #272727;
        }
        &:focus{
            background-color: rgba(199, 199, 199, 0.795);
            color: #272727;
        }
    }

    .project-card-overlay{
        background-color: rgba(26, 26, 26, 0.95);
        opacity: 0;
        .tech-icon{
            width: 1.8rem;
            user-select: none;
        }
    }
}

.ProjectModal{
    color: $text-color;
    h3{
        font-size: 1.7rem;
    }
    p{
        font-size: 1rem;
        line-height: 1.9;
        color: white;
    }
    button{
        background-color: transparent;
        border: 1px solid white;
        color: $text-color;
        padding: 0.5rem;
        transition: 0.3s;
        &:hover{
            background-color: #07101f;
        }
    }
    video{
        width: 100%;
        border-bottom: 3px solid black;
    }
}

.ReactModal__Content{
    border: 0 !important;
    border-radius: 0 !important;    
    padding: 0 !important;
    width: 60%;
}



@media only screen and (max-width: 1200px){
    .s4-projects-row{ 
        width: 100%;
    }
    .ReactModal__Content{
        width: 80%;
    }
}
@media only screen and (max-width: 768px){
    .ReactModal__Content{
        width: 90%;
    }
}
@media only screen and (max-width: 576px){
    .ReactModal__Content{
        width: 100%;
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size:0.8rem;
        }
    }
}
