#MyProjects2{
    p{
        color: white;
    }
    h3{
        font-size:1rem;
    }
}

.s5-project-row{
    width: 75%;
}

.ProjectCard{
    background-size: contain;
    background-repeat: no-repeat;
    button{
        padding: 0.5rem;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        transition: 0.5s;
        &:hover{
            background-color: rgba(255, 255, 255, 0.9);
            color: #272727;
        }
        &:focus{
            background-color: rgba(199, 199, 199, 0.795);
            color: #272727;
        }
    }
}

.project-card-overlay{
    background-color: rgba(26, 26, 26, 0.95);
    opacity: 0;
    .tech-icon{
        width: 1.8rem;
    }
}


@media only screen and (max-width: 1200px){
    .s5-project-row{ 
        width: 100%;
    }
}
