.Landingpage{
    height: 100vh;
    .arrows{
        width: 5%;
        top: 90%;
    }
}

.s1-row{
    width: 50%;
        h1{ text-transform: uppercase; }
}

.s1-line{
    text-decoration: line-through #909090 1px;
    color: transparent;
    user-select: none;
}

@media only screen and (max-width: 576px){
    .s1-row{ width: 67%; }
}
@media only screen and (max-width: 500px){
    .s1-row{ width: 100%; }
}
@media only screen and (max-width: 400px){
    .s1-row{
            h1{ font-size: 2.3rem; }
            h4{ font-size: 1.3rem; }
    }
}