@import "../../styles/variables";

.NavigationBar{
    background-color: $secondary-color;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    a{
        &:hover{
            color: $text-color;
            text-decoration: none;
        }
    }
}

.highlighted{
    border-bottom: 2px solid $tertiary-color
;
}

//  text-decoration: underline #c24d2c;
//  text-underline-offset: 0.4em;
//  text-decoration-thickness: 0.15em;