.NavigationBar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    a{
        color: white;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}

.highlighted{
    border-bottom: 2px solid #c24d2c;
}

//  text-decoration: underline #c24d2c;
//  text-underline-offset: 0.4em;
//  text-decoration-thickness: 0.15em;