$prim-color : #1a2639;
$secondary-color : #22314b;
$color-3 : #c24d2c;

.App{
    background: $prim-color;
    h1, h2, h3, h4, h5, p, li{
        color: #fff;
      }
    .NavigationBar{
        background-color: $secondary-color;
    }
}


$Co : #0b1524fb;
/* 


p, li{
  color: #626262;
}

*/